<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
</head>

<body>
  <header> 
    <h2>URL Shortener</h2>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="連結圖片">
  </header>
  <main>
  {{{body}}}
  </main>
</body>

</html>