<form action="/show" method="POST" class="col text-center">
  <div class="px-5">
    <div class="px-5">
      <div class="px-5">
        <input type="text" placeholder="input URL here" name="original_URL" class="form-control px-2 bg-secondary-subtle">
      </div>
    </div>
  </div>
  <button class="btn btn-outline-primary my-2 px-5" type="submit">Shorten</button>
  {{#if error}}
    <div class="error">{{ error }}</div>
  {{/if}}
</form>