<script>
  function copyToClipboard() {
  const copyText = document.querySelector("#myInput");
  const textToCopy = copyText.getAttribute("data-value");
  navigator.clipboard.writeText(textToCopy)
    .then(() => {
      alert("Copied the text: " + textToCopy);
    })
    .catch(err => {
      console.error('Failed to copy text to clipboard', err);
    });
}
</script>
<div class="col text-center">
  <h3>Success! Please use this link:<h3>
  <div>
    <a href="{{url.original_URL}}" id="myInput" data-value="{{url.short_URL}}"> {{url.short_URL}}
    </a>
  </div>
  <button onclick="copyToClipboard()" class="btn btn-primary my-3">Copy</button>
</div>
